* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

.ant-layout, .ant-layout-has-sider {
    height: 100% !important;
}

.ant-layout, .ant-layout-content {
    height: 100%;
    overflow: hidden !important;
    overflow-y: scroll !important;
}

.user_slot {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 4%;
}

.user_avatar {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0 13px 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.user_string {
    position: absolute;
    right: 0%;
    transform-origin: 0 center;
}

.lists {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 150px;
    height: 160px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 9999;
}

.lists ul {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lists ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.appear {
    display: block;
}

.hidden {
    display: none;
}

.header {
    position: relative;
}

.dismessage:hover {
    background: skyblue;
}